<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_settings.css') }}">
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <div class="container-settings">
        <h3>Settings</h3>
<p class="settings-description">Manage your account details and notification settings</p>
        <p class="username-display">Logged in as: <strong>{{ settings.username }}</strong></p>
        <form action="/settings" method="post">
            <!-- User Profile Settings -->
            <fieldset>
                <legend>User Profile</legend>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" class="form-control" value="{{ settings.email }}" required>
                </div>

                <div class="form-group">
                    <label for="telegram_account">Telegram Account:</label>
                    <input type="text" id="telegram_account" name="telegram_account" class="form-control" value="{{ settings.telegram_account }}">
                </div>

                <div class="form-group">
                    <label for="address">Home Address:</label>
                    <input type="text" id="address" name="address" class="form-control" value="{{ settings.address }}">
                </div>
            </fieldset>

            <!-- Transportation Settings -->
            <fieldset>
                <legend>Transportation</legend>
                <div class="form-group">
                    <label for="origin">Origin:</label>
                    <input type="text" id="origin" name="origin" class="form-control" value="{{ settings.transportation[0] }}" required>
                </div>

                <div class="form-group">
                    <label for="destination">Destination:</label>
                    <input type="text" id="destination" name="destination" class="form-control" value="{{ settings.transportation[1] }}" required>
                </div>
            </fieldset>

            <!-- Submit Button -->
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Save Changes">
            </div>
        </form>


    </div>
    {% endblock %}

    <!-- Optionally include your JavaScript file -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
